@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{ /* Isso são variáveis no CSS */
    --cor-de-fundo: #f29f05;
    --laranja-secundario-claro: #f28705;
    --marrom-secundario: #734a27;
    --cor-titulo: #022859;
    --azul-claro: #1243a6;
    --fonte-titulo: "Nunito", sans-serif;
}

*{  /* Isso é reset no CSS da página, então eu deixei todos os itens com 0 de margin e padding, fica mais fácil de trabalhar */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}
body{
    background-color: var(--cor-de-fundo); /* Como se utiliza a varivel */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    padding: 15px 70px;
    display: flex; /* Isso é um posicionamento de página chamado Flexbox */
    justify-content: space-between; /* esse justify é uma forma de falar pro flex box, como vai ficar o posicionamento */
}
#logo-customizada{
    border-radius: 50%; /* Arredondamento das bordas do bloco */
    width: 65px;
    height: 65px;
    /*border: 2px solid black; /* borda */
    box-shadow: 0px 0px 20px black;
}
nav{
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; /* Gap é o quanto vai ficar a distancia de cada elemento que está sendo aplicado o flexbox */
}
nav > ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none; /* Isso aqui tira as bolinhas que ficam quando se cria a lista */
    font-family: var(--fonte-titulo); /* Exemplo de como se utiliza uma varivel de fonte */
    font-weight: bold;
    font-size: 1.3em; /* "em" é um tipo de medida, como o px por exemplo */
    
}nav > ul > li > a{
    transition: 0.5s; /* transition serve para dizer o tempo que a animação do hover, vai durar, quanto mais você colocar, mas lento vai ficar a transição para a propriedade que foi colocada no hover */
    padding: 10px 17px;
    border-radius: 10px;
    color: black;
    text-decoration: none; /* o link fica com um faixa embaixo como padrão, isso aqui tira essa faixa */
}
nav > ul > li > a:hover{
    background-color: var(--marrom-secundario);
    color: #f29f05;
}
#sobre-nos{
    width: 100%;
    height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/ong-dva-entrada.jpg);
}
#texto-sobre-nos{
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.733);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}
#texto-sobre-nos > h1, 
#texto-sobre-nos > h2{
    color: white;
    font-family: var(--fonte-titulo);
    font-weight: 900;
}
#texto-sobre-nos > h1{
    font-size: 5em;
}
#texto-sobre-nos > h2{
    font-size: 3em;
}
#texto-sobre-nos > p{
    font-size: 1.5em;
    color: white;
    width: 50%;
    margin-top: 50px;
}
#texto-destaque{
    color: var(--cor-de-fundo);
}

#castracao{
    background-color: var(--cor-titulo);
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

#texto-castracao{
    color: white;
    padding: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#texto-castracao > h2{
    font-family: var(--fonte-titulo);
    font-size: 3em;
    margin: auto;
}
#texto-castracao > aside{
    margin-top: 50px;
}
#texto-castracao > aside > p{
    font-size: 1.2em;
}
#imagem-castracao{
    height: 600px;
    width: 50%;
}
#perguntas-frequentes{
    margin-top: 30px;
}
#perguntas-frequentes > h2{
    text-align: center;
    font-size: 3.8em;
    font-family: var(--fonte-titulo);
    color: var(--cor-titulo);
    font-weight: 900;
}
#perguntas-frequentes-posicionamento{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: url(../img/fundo-faq.png);
}
.caixas-perguntas-frequentes{
    width: 800px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: var(--cor-titulo);
    color: black;
    border-radius: 5px;
    overflow: hidden;
}
.caixas-perguntas-frequentes > h3{
    background-color: var(--azul-claro);
    padding: 10px;
    color: white;
    font-family: var(--fonte-titulo);
    font-size: 1.8em;
}
.caixas-perguntas-frequentes > p, li{
    padding: 10px;
    color: rgb(240, 239, 239);
}