@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root{ /* Isso são variáveis no CSS */
    --cor-de-fundo: #f0b64c;
    --laranja-secundario-claro: #f28705;
    --marrom-secundario: #734a27;
    --cor-titulo: #273e5c;
    --azul-claro: #385da7;
    --fonte-titulo: "Montserrat", sans-serif;
    --fonte-secundaria: "Poppins", sans-serif;
}

*{  /* Isso é reset no CSS da página, então eu deixei todos os itens com 0 de margin e padding, fica mais fácil de trabalhar */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}
body{
    background-color: var(--cor-de-fundo); /* Como se utiliza a varivel */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Começo do header */

header{
    padding: 15px 70px;
    display: flex; /* Isso é um posicionamento de página chamado Flexbox */
    justify-content: space-between; /* esse justify é uma forma de falar pro flex box, como vai ficar o posicionamento */
    border-bottom: 2px solid black;
    background-color: var(--azul-claro);
}
.logo-customizada{
    border-radius: 50%; /* Arredondamento das bordas do bloco */
    width: 65px;
    height: 65px;
    /*border: 2px solid black; /* borda */
    box-shadow: 0px 0px 20px black;
    align-self: center;
}
nav{
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; /* Gap é o quanto vai ficar a distancia de cada elemento que está sendo aplicado o flexbox */
}
nav > ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none; /* Isso aqui tira as bolinhas que ficam quando se cria a lista */
    font-family: var(--fonte-secundaria); /* Exemplo de como se utiliza uma varivel de fonte */
    font-weight: bold;
    font-size: 1.3em; /* "em" é um tipo de medida, como o px por exemplo */
    
}
nav > ul > li > a{
    transition: 0.5s; /* transition serve para dizer o tempo que a animação do hover, vai durar, quanto mais você colocar, mas lento vai ficar a transição para a propriedade que foi colocada no hover */
    padding: 10px 17px;
    border-radius: 20px;
    color: white;
    text-decoration: none; /* o link fica com um faixa embaixo como padrão, isso aqui tira essa faixa */
}
nav > ul > li > a:hover{
    color: var(--cor-de-fundo);
}

/* Começo do main */
h2{
    font-size: 3em;
    font-family: var(--fonte-titulo);
    font-weight: 900;
}
#sobre-nos{
    width: 100%;
    height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/ong-dva-entrada.png);
}
#texto-sobre-nos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 80%;
    height: 100%;
}
#texto-sobre-nos > h1{
    color: white;
    font-family: var(--fonte-titulo);
    font-weight: 900;
}
#texto-sobre-nos > h2{
    color: white;
}
#texto-sobre-nos > h1{
    font-size: 5em;    
}
#texto-sobre-nos > h2{
    margin-bottom: 40px;
}
#texto-sobre-nos > p{
    font-size: 1.5em;
    color: white;
    width: 50%;
}
#texto-destaque{
    color: var(--cor-de-fundo);
}

#castracao{
    
    background-color: var(--cor-titulo);
    background-image: url(../img/dog-background.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 400px;

    box-shadow: 0px 0px 30px black;
}

#texto-castracao{
    color: white;
    margin: auto;
    padding: 50px 0px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#texto-castracao > h2{
    margin-bottom: 30px;
}
#texto-castracao > p{
    font-size: 1.2em;
    margin-bottom: 5px;
    width: 90%;
}
#link-saiba-mais-castracao{
    text-decoration: none;
    background-color: var(--cor-de-fundo);
    width: 250px;
    text-align: center;
    font-family: var(--fonte-titulo);
    font-size: 2em;
    font-weight: bolder;
    color: var(--cor-titulo);
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 30px;
}
#perguntas-frequentes{
    margin-top: 30px;
}
#perguntas-frequentes > h2{
    text-align: center;
    color: var(--cor-titulo);   
}
#perguntas-frequentes-posicionamento{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.caixas-perguntas-frequentes{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: var(--cor-titulo);
    color: black;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.61);
}
.caixas-perguntas-frequentes > div > h3{
    background-color: var(--azul-claro);
    padding: 10px;
    color: white;
    font-family: var(--fonte-titulo);
    font-size: 1.8em;
}
.caixas-perguntas-frequentes > div > p{
    padding: 20px;
    color: rgb(240, 239, 239);
    font-size: 1.2em;
    font-weight: bold;
}
.caixas-perguntas-frequentes > div > ul{
    padding: 20px;
    color: rgb(240, 239, 239);
    font-size: 1.2em;
    font-weight: bold;
}
#localizacao{
    margin-top: 50px;
    text-align: center;
    background-color: var(--cor-titulo);
    padding: 30px 0px;
}
#localizacao > h2{
    margin-bottom: 30px;
    color: var(--cor-de-fundo);
}
/* Começo do footer */

footer{
    background-color: var(--azul-claro);
    color: white;
    padding: 0px 11px 10px 10px;
    text-align: center;
    padding: 30px;
    border-top: 3px solid black;
}
#posicao-footer{
    display: flex;
    justify-content: space-around;
}
.bi {
    color: var(--cor-de-fundo);
    font-size: 30px;
    margin: 5px 5px 5px 0px;
}
.footer-box > h3{
    margin-bottom: 5px;
    font-size: 1.5em;
}
.contato{
    display: flex;
    align-items: center;
}
.resposta-pergunta-frequente{
    display: none;
}
